@font-face {
    font-family: exo-regular;
    src: url(font/Exo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: exo-regular;
}

body {
    background: linear-gradient(90deg, rgba(39, 68, 93, 1) 0%, rgba(113, 187, 178, 1) 22%, rgba(73, 125, 116, 1) 79%);
}

header {
    display: flex;
    align-items: center;
    background-color: #27445D;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 10px;
    transition: 0.5s;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover {
    background-color: #71BBB2;
    padding: 10px;
    border-radius: 10px;
}

h1 {
    font-size: large;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #f3f0e5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}


h2 {
    border-bottom: 2px solid #27445D;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

#about div {
    display: flex;
    align-items: center;
    height: 500px;
}

#about p {
    line-height: 2;
    font-size: larger;
    max-width: 60%;
}

#about img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 50%;
}

#contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    border: 1px solid #27445D;
    padding: 20px;
    border-radius: 10px;
}

#contact h2 {
    border-bottom: none;
}

ul {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #27445D;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1d2b38;
    color: white;
}

form {
    margin: 20px;
    border: 1px solid #27445D;
    padding: 20px;
    border-radius: 10px;
}

fieldset {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #27445D;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 10px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #27445D;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.15s;
}

button:hover {
    background: #52728d;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #27445D;
    color: white;
    margin-top: 20px;
    font-size: small;
}