* {
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;

    img,button{
        max-width: 20%;
        margin: 1em auto;
        transition: ease,scale 0.3s ease;
        cursor: pointer;
    };
}